<?xml version="1.0" encoding="UTF-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/otaku?useSSL=false&amp;allowPublicKeyRetrieval=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Ayesh@14775</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="connection.pool_size">1000</property>

        <mapping class="com.otaku.webapp.entity.User"/>
        <mapping class="com.otaku.webapp.entity.Color"/>
        <mapping class="com.otaku.webapp.entity.Size"/>
        <mapping class="com.otaku.webapp.entity.Products"/>
        <mapping class="com.otaku.webapp.entity.Cart"/>
        <mapping class="com.otaku.webapp.entity.CartItem"/>
        <mapping class="com.otaku.webapp.entity.Category"/>
    </session-factory>
</hibernate-configuration>